<h1>Hi there, <%= @user.name %>
<%= image_tag('1200px-Twitter_Verified_Badge.png', size: "16x16", alt: "") if @user.expert?%>
</h1>



<%= image_tag(@user.profile_picture) if @user.profile_picture.attached?%>
<p>Account type: <%= @user.expert? ? "Expert" : "Student only" %></p>

<%= button_to "Edit Profile", '/profile/edit', method: :get %>

<br>

<% progress_list = Progress.where(student_id: current_user) %>
<% unless progress_list.empty? %>
    <div class="progress">
        <% progress_list.map { |p| p.skill }.uniq.each do |s| %>
            <%= s.name%> (<%= s.difficult_level%>): <%=  %>
            <% val = number_to_percentage(@user.lesson_progresses_percent(s) * 100, precision: 0).to_s%>
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow=val aria-valuemin="0" aria-valuemax="100"><%= val+ "%"%></div>
        <% end %>
    </div>
<% end %>

<%= button_to "Delete account", '/users/destroy', class: "nav-link", method: :delete, data: { confirm: 'Are you sure?', disable_with: 'loading...' } %>