
<head>
  <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />

  <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
</head>

<body>

<main role="main">

    <section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading"> <%= @skill.name %> </h1>
        <%= link_to "Add a lesson?", new_lesson_path if @user == @skill.expert%>
        <p class="lead text-muted"> <%= @skill.lessons.first.description %> </p>
        <p>
        <a href="#" class="btn btn-primary my-2">Expert Show Page</a>
        <% if @skill.expert == @user  %>
        <a href="#" class="btn btn-secondary my-2">Edit Skill</a>
        <% end %>

        </p>
    </div>
    </section>

    

    <div class="album py-5 bg-light">
        
        <div class="container">
        
        <div class="row">
        <% @skill.lessons.each do |lesson| %>
        <div class="col-md-4">
        
            <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="<%= url_for(@skill.skill_thumbnail) %>" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">  <%= lesson.name %> </p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target= "#exampleModalCenter<%= lesson.id %>">Preview</button>
                    <% unless lesson.expert == @user %>
                    <%= button_to "Start Lesson", lesson_path(lesson), method: :get, class: "btn btn-sm btn-outline-secondary" %>
                    <% end %>
                </div>
                <small class="text-muted"> <%= lesson.duration %> </small>
                </div>
            </div>
            </div>
        </div>
        <% end %>
        </div>
    </div>
    
<% @skill.lessons.each do |lesson| %>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter<%= lesson.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle"><%= lesson.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if lesson.lesson_video.attached? %>

            <video
                id="my-video"
                class="video-js"
                class="vjs-big-play-centered"
                controls
                preload="auto"
                width="640"
                height="360"
                poster="MY_VIDEO_POSTER.jpg"
                data-setup="{}"
            >
                <source src="<%= url_for(lesson.lesson_video) %>" type="video/mp4" />
                
            </video>

            <script src="https://vjs.zencdn.net/7.8.4/video.js"></script>
            <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
 <% end %>   

</body>



</main>
